-*/
*.pdf

EXPH0004*/
IT1501*/

IT2805*/*
!IT2805*/A*/
!IT2805*/Documents/*
IT2805*/Documents/Project/
!IT2805*/*.php
!IT2805*/*.html
!IT2805*/*.css
!IT2805*/*.less

TMA*/
TTM4100*/

TDT4100*/*
!TDT4100*/tdt4100/
TDT4100*/tdt4100/*
!TDT4100*/tdt4100/tests/
!TDT4100*/tdt4100/src/

TDT4110*/*
!TDT4110*/Code/
!TDT4110*/Øvinger/

TDT4120*/

#OneDrive sync error
*-Niklas-PC.*
*-Niklas-PC/
*-NDCGift.*
*-NDCGift/

.idea/
*.com
*.class
*.dll
*.exe
*.o
*.so

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.log
*.sql
*.sqlite

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db