[~-]*/
*.pdf
*.epub
*.tar
*.tar.*
*.iml

# Ignore folder and files with an ignore extension
*.ignorefile.*
*.ignorecompiled
*.ignorefolder/

# Examen Philososophicum
EXPH0004*/

# Programmeringslab for Informatikk
IT1501*/

# Webteknologi
IT2805*/*
!IT2805*/A*/
!IT2805*/Documents/
IT2805*/Documents/Project/
IT2805*/Documents/*/images/*
!IT2805*/*.php
!IT2805*/*.html
!IT2805*/*.css
!IT2805*/*.less

# Webutvikling
IT2810*/*
!IT2810*/A*/
!IT2810*/*.html
!IT2810*/*.md

# Math, not code
TMA*/

# Objekt Orientert Programmering
TDT4100*/*
!TDT4100*/tdt4100/
TDT4100*/tdt4100/*
!TDT4100*/tdt4100/tests/
!TDT4100*/tdt4100/src/
TDT4100*/tdt4100/src/debugging/*
!TDT4100*/tdt4100-oop-bullet-maniac/

# Informasjonsteknologi, grunnkurs
TDT4110*/*
!TDT4110*/Code/
!TDT4110*/Øvinger/

# Databasemodellering og databasesystemer
TDT4145*/*
!TDT4145*/README.md

# Datamaskiner og Digitalteknikk
TDT4160*/*
!TDT4160*/exercises/
!TDT4160*/README.md

# Fysikk
TFY4125*/

# Kommunikasjon - Tjenester og nett
TTM4100*/

#OneDrive sync error
#*-Niklas-PC.*
#*-Niklas-PC/
#*-NDCGift.*
#*-NDCGift/

.idea/
.metadata/
*.com
*.class
*.dll
*.exe
*.o
*.so

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.log
*.sql
*.sqlite

.vscode
vim.*
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
