[~-]*/
*.pdf
*.epub
*.tar
*.tar.*
*.iml

# Ignore folder and files with an ignore extension
*.ignorefile.*
*.ignorecompiled
*.ignorefolder/

# Examen Philososophicum
EXPH0004*/

# Programmeringslab for Informatikk
IT1501*/

# Webteknologi
IT2805*/*
!IT2805*/A*/
!IT2805*/Documents/
IT2805*/Documents/Project/
IT2805*/Documents/*/images/*
!IT2805*/*.php
!IT2805*/*.html
!IT2805*/*.css
!IT2805*/*.less

# Webutvikling
IT2810*/*
!IT2810*/A*/
!IT2810*/*.html
!IT2810*/*.md

# Math, not code
TMA*/

# Objekt Orientert Programmering
TDT4100*/*
!TDT4100*/tdt4100/
TDT4100*/tdt4100/*
!TDT4100*/tdt4100/tests/
!TDT4100*/tdt4100/src/
TDT4100*/tdt4100/src/debugging/*
!TDT4100*/tdt4100-oop-bullet-maniac/

# Informasjonsteknologi, grunnkurs
TDT4110*/*
!TDT4110*/Code/
!TDT4110*/Øvinger/

# Kognitive arkitekturer
TDT4137*/*
!TDT4137*/README.md
!TDT4137*/exercises/
TDT4137*/exercises/*
!TDT4137*/exercises/[1-5]/

# Programvareutvikling
TDT4140*/*
!TDT4140*/tdt4140-bot-project
!TDT4140*/README.md

# Databasemodellering og databasesystemer
TDT4145*/*
!TDT4145*/[0-9]/
TDT4145*/*/*.png
TDT4145*/*/*.jpg
!TDT4145*/README.md
!TDT4145*/project

# Datamaskiner og Digitalteknikk
TDT4160*/*
!TDT4160*/exercises/
!TDT4160*/README.md

# Menneske-maskin interaksjon
TDT4180*/*
!TDT4180*/T*
!TDT4180*/README.md

# Grunnleggende Visuell Databehandling
TDT4195*/*
!TDT4195*/exercises/
TDT4195*/exercises/*
!TDT4195*/exercises/[1-6]/
TDT4195*/exercises/[1-6]/*
!TDT4195*/exercises/[1-6]/shaders/
!TDT4195*/exercises/[1-6]/src/
TDT4195*/exercises/[1-6]/src/*
!TDT4195*/exercises/[1-6]/src/program.cpp
!TDT4195*/tests/
!TDT4195*/README.md

# Fysikk
TFY4125*/

# Kommunikasjon - Tjenester og nett
TTM4100*/*
!TTM4100*/ttm4100-ktn-chat-project
!TTM4100*/README.md

# Prosjektplanlegging og styring
TPK4115*/*
!TPK4115*/README.md

#OneDrive sync error
#*-Niklas-PC.*
#*-Niklas-PC/
#*-NDCGift.*
#*-NDCGift/

.idea/
.metadata/
*.com
*.class
*.dll
*.exe
*.o
*.so

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.log
*.mwb
*.mwb.bak
*.sqlite

.vscode
vim.*
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
