[submodule "TDT4100 - Objekt Orientert Programmering/tdt4100-oop-bullet-maniac"]
	path = TDT4100 - Objekt Orientert Programmering/tdt4100-oop-bullet-maniac
	url = git@github.com:niklasmh/tdt4100-oop-bullet-maniac.git
[submodule "IT2805 - Webteknologi/Documents/Project"]
	path = IT2805 - Webteknologi/Documents/Project
	url = git@github.com:niklasmh/it2805-webtech-project.git
[submodule "IT2810 - Webutvikling/it2810-04-oppgave-2"]
	path = IT2810 - Webutvikling/it2810-04-oppgave-2
	url = git@bitbucket.org:trondaal/it2810-04-oppgave-2.git
[submodule "IT2810 - Webutvikling/it2810-04-oppgave-3"]
	path = IT2810 - Webutvikling/it2810-04-oppgave-3
	url = git@bitbucket.org:trondaal/it2810-04-oppgave-3.git
[submodule "TDT4140 - Programvareutvikling/tdt4140-bot-project"]
	path = TDT4140 - Programvareutvikling/tdt4140-bot-project
	url = git@github.com:niklasmh/tdt4140-bot-project.git
[submodule "IT1901 - Informatikk Prosjektarbeid 1/it1901-band-booking-project"]
	path = IT1901 - Informatikk Prosjektarbeid 1/it1901-band-booking-project
	url = git@github.com:niklasmh/it1901-band-booking-project.git
