body {
    font-size: 100%;
    margin: 0;
    background-color: #ddd;
    font-family: Georgia, serif;
}

p, a {
    font-size: 1em;
}

a {
    color: #000;
    text-decoration: none;
}
a[href^="http://"] {
    color: #06f;
}

a:hover, a:active {
    text-decoration: underline;
}

a[href^="#fig"] {
    font-weight: bold;
}

button, input[type="checkbox"] + label {
    background-color: #ddd;
    background-image: none;
    outline: none;
    font-family: monospace;
    border-radius: 3px;
    border: 0;
    padding: 4px 8px;
    cursor: pointer;
    box-shadow: 0 .5px 1px rgba(0, 0, 0, .8);
    
    -webkit-transition-property: background-color, box-shadow;
    transition-property: background-color, box-shadow;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
button:hover {
    background-color: #ccc;
}
button:active {
    box-shadow: none;
}

section {
    page-break-inside: avoid;
}

.print-btn-container {
    text-align: right;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Arial, sans-serif;
}

table {
    margin: 16px 0;
	border-collapse: collapse;
	margin-bottom:20px;
    background-color: #eee;
    box-shadow: 0 0 3px rgba(0,0,0,.5);
    border-radius: 3px;
}

table tr {
    border: 1px solid #ccc;
}

table th {
    font-family: sans-serif;
}

table td, table th {
    padding: 4px 6px;
}

table.files {
    margin: 16px 0 16px 5%;
}
table.files th {
    text-align: left;
    background-color: #ddd;
}

table.files tr.file.added td {
    background-color: #dfd;
}

input[type="checkbox"].hide-removed-files {
	display: none;
}

input[type="checkbox"].hide-removed-files + label {
	margin: 8px auto 8px 5%;
	display: block;
	width: 100%;
	max-width: 150px;
}

input[type="checkbox"].hide-removed-files + label:before {
	content: "Skjul ";
}

input[type="checkbox"].hide-removed-files:checked + label:before {
	content: "Vis ";
}

@media not print {
	input[type="checkbox"].hide-removed-files:checked + label + table.files tr.file.removed td,
	input[type="checkbox"].hide-removed-files:checked + label + .filelist li.removed {
		display: none;
	}
}

table.files tr.file.removed td {
    background-color: #fdd;
}

table.files tr.file.added td:first-child:before {
    content: "+";
}

table.files tr.file.removed td:first-child:before {
    content: "-";
}

table.files td {
    font-family: monospace;
}

#main-content {
    margin: 172px auto 96px auto;
    padding: 16px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    border-radius: 3px;
    position: relative;
}

#main-content:before {
    content: "";
    display: inline-block;
    border: 17px solid #ddd;
    border-bottom-color: #c7c7c7;
    border-left-color: #c7c7c7;
    position: absolute;
    border-radius: 0 4px;
    top: -2px;
    right: -2px;
}
#main-content:after {
    content: "";
    display: inline-block;
    vertical-align: top;
    border: 16px solid transparent;
    border-bottom-color: #eee;
    border-left-color: #eee;
    position: absolute;
    border-radius: 0 4px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
    top: 0;
    right: 0;
}

#main-content, #head .title {
    width: 100%;
    max-width: 720px;
}

#head .title {
    padding: 0;
    margin-left: -10px;
    margin-top: 32px;
    text-shadow: 0 1px #fff;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: -1;
}
#head .title h1 {
    margin-bottom: 0;
    word-break: break-all;
}
#head .title p, #head .title p a {
    margin-top: 0;
    font-size: 10px;
    color: #666;
    font-family: sans-serif;
}

.title p a[href^="mailto"]:not(:last-of-type):not(:nth-last-child(2)):after {
    content: ",";
}
.title p a[href^="mailto"]:last-of-type:before {
    content: " og ";
}

#body h2, #body h3 {
    padding: 20px 0 0 30px;
    margin-bottom: 0;
}
#body h3 {
    padding-left: 60px;
}
#body h3 + p, #body h3 + p + p, #body h3 + figure + p, #body h3 + figure + p + p, #body h3 + figure + p + p + p {
    padding: 0 0 0 30px;
}
#body h2:first-child, #body h3:first-child {
    padding-top: 0;
}
#body p {
    margin: 8px 0;
	line-height: 1.5em;
}

.unimportant:after {
    content: "*";
    color: #f00;
}

.sitemap {
    background-color: #eee;
    display: inline-block;
    padding: 4px 16px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    font-family: monospace;
    border-radius: 2px;
}

.sitemap ul li {
    display: table;
}
.sitemap ul li:before {
    content: "/";
}
.sitemap ul {
    list-style: none;
}

.filelist {
    margin: 16px 0 16px 5%;
    background-color: #eee;
    display: inline-block;
    padding: 4px 16px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    font-family: monospace;
    border-radius: 2px;
	margin-right: auto;
}
.filelist ul li {
    display: table;
}
.filelist ul li.added {
    background-color: #dfd;
}
.filelist ul li.added:before {
    content: "+";
}
.filelist ul li.removed {
    background-color: #fdd;
	text-decoration: line-through;
}
.filelist > ul {
	padding-left: 0;
}
.filelist ul {
    list-style: none;
}

img.big {
	width: 100%;
	margin: 32px auto 8px auto;
	box-sizing: border-box;
}
img.big.tall {
	width: 40%;
	display: block;
}
img.border {
	box-shadow: 0 0 4px #000;
	border: 1px solid #000;
}
img.background {
	background-color: #fff;
}

section > h2 ~ h3 ~ figure {
    width: 80%;
}

figure img + figcaption {
    text-align: center;
    font-size: .7em;
    font-family: sans-serif;
    font-weight: bold;
}

figure {
    margin: auto;
}

dt {
	margin: 16px 0;
	font-weight: bolder;
}

#footer:after {
    content: "Laget med \02665  av Dream Team";
    content: "Laget av Ellen, Niklas, Siddise, Stian og Øyvind";
    text-align: center;
    display: block;
    font-size: 1em;
    font-family: monospace;
    text-shadow: 0 1px #fff;
    
    margin-bottom: 32px;
    padding: 8px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

::-moz-selection {
    background-color: rgba(0, 0, 0, .3);
    color: #000;
    text-shadow: none;
    /*text-shadow: 0 0 1px rgba(0, 0, 0, .3);*/
}

::selection {
    background-color: rgba(0, 0, 0, .3);
    color: #000;
    text-shadow: none;
    /*text-shadow: 0 0 1px rgba(0, 0, 0, .3);*/
}

@media screen and (max-width: 400px) {
    .sitmap-description h3:before {
        content: "/";
    }
}

@media screen and (max-width: 770px) {
    #main-content {
        margin: 16px 2% 96px 2%;
        max-width: 96%;
        
        margin-top: 172px;
    }
    
    .sitemap ul {
        padding-left: 10%;
    }
	
	table.files tr td {
		display: block;
	}
	table.files tr th {
		display: none;
	}
	table.files tr {
		border-color: transparent;
	}
	table.files tr:not(.file):not(.folder) td {
		display: none;
	}
	table.files tr.folder {
		background-color: #ccc;
	}
	table.files tr.folder td:first-child:before {
		content: "Mappe: ";
		font-weight: bold;
	}
	table.files tr.folder td:not(:first-child):not(:empty) {
		background-color: #eee;
	}
	table.files tr.folder td:nth-child(2):not(:empty):before {
		content: "Mappebeskrivelse: ";
		font-weight: bold;
	}
	table.files tr.folder td:nth-child(3):not(:empty):before {
		content: "Hovedansvar: ";
		font-weight: bold;
	}
	table.files tr.folder td:nth-child(4):not(:empty):before {
		content: "Deadline: ";
		font-weight: bold;
	}
	table.files tr.folder td:empty {
		display: none;
	}
	table.files tr.folder + tr.file > td:first-child {
		margin-top: 1em;
	}
	table.files tr.file td:last-of-type {
		border-width: 0;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-color: #ccc;
	}
	table.files tr.file td:nth-child(1):before {
		content: "Filnavn: ";
		font-weight: bold;
	}
	table.files tr.file td:nth-child(2):not(:empty):before {
		content: "Beskrivelse: ";
		font-weight: bold;
	}
	table.files tr.file td:nth-child(2):empty {
		display: none;
	}
	table.files tr.file td:nth-child(3):before {
		content: "Hovedansvar: ";
		font-weight: bold;
	}
	table.files tr.file td:nth-child(4):before {
		content: "Deadline: ";
		font-weight: bold;
	}
}


/* Hvis skjermen er nesten breiere enn høyden gjør vi dokumentet smalere og mer leselig. */

@media screen and (min-aspect-ratio: 4/5) and (max-height: 512px) {
    #main-content, #head .title {
        left: 0;
        width: 72%;
        margin-left: 14%;
        margin-right: 14%;
    }
}